<html>

<head>
    
    <link rel="icon" href="/images/logo.jpg">
    <link rel="stylesheet" href="./css/styles.css">

</head>
<body>
    <div class="main-content">
    {{>header}}

    <img class="portrait"src="/images/Me.jpg">
    </div>

    {{>footer}}
</body>
</html>